<% if (title) { %>
<h1 id="inv-title"><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<div>
    <a href="./classification">Add New Classification</a>
    <a href="./vehicle">Add New Vehicle</a>
</div>
<div>
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list</p>
    <%- classificationSelector %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>
<script src="../../js/inventory.js"></script>
